@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  --sb-track-color: #232e33;
  --sb-thumb-color: #c8180c;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: var(--sb-size);
  }
}

.scroll-container-x {
  --sb-track-color: #232e33;
  --sb-thumb-color: #c8180c;
  --sb-size: 10px;
}

.scroll-container-x::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

.scroll-container-x::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0px;
}

.scroll-container-x::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 2px solid #232e33;
}

@supports not selector(::-webkit-scrollbar) {
  .scroll-container-x {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    scrollbar-width: var(--sb-size);
  }
}
